body{
    text-align: center;
}
.outer-div{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.box{
    height: 150px;
    width: 150px;
    border: 5px black solid;
    border-radius: 25px;
}
.red{background-color: #d94f6a;}
.yellow{background-color: #f28c28;}
.green{background-color: #4f9cae;}
.purple{background-color: #6679e0;}

.flash{
    background-color: white;
}

